/*

h1,
h2,
p,
.button {
    margin: 2px !important;
    text-align: center;
    margin: 0 auto !important;
}

.button {
    border-color: white !important;
    color: white !important;
    margin: 4px !important;
    width: 150px;
    height: 50px;
    border-radius: 20px;
}
*/
