/*
https://www.tsilhqotin.ca/wp-content/uploads/2020/12/IMG_2516-scaled-e1607038804272.jpg
https://www.tsilhqotin.ca/wp-content/uploads/2020/12/tsilhqotin_fire-scaled.jpg
https://www.tsilhqotin.ca/wp-content/uploads/2020/11/cropped-tsilhqotin_horse-scaled-2.jpg

*/
body,
html {
    font-family: Arial, Helvetica, sans-serif !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw !important;
    background-color: rgba(13, 16, 66, 1) !important;
    background-image: linear-gradient(
        -155deg,
        rgb(255, 0, 0) -30%,
        rgba(13, 16, 66, 0.85) 60%,
        rgba(13, 16, 66, 1) 100%
    ) !important;
    background-image: repeating-linear-gradient(
            284deg,
            transparent 0px,
            transparent 1px,
            rgb(251, 251, 251) 1px,
            rgb(251, 251, 251) 3px
        ),
        repeating-linear-gradient(
            14deg,
            transparent 0px,
            transparent 1px,
            rgb(251, 251, 251) 1px,
            rgb(251, 251, 251) 3px
        ),
        linear-gradient(90deg, rgb(222, 222, 222), rgb(222, 222, 222));
}

.dataGrid {
    min-height: 60vh;
    padding: 10px;
    box-shadow: 0px 0px 12px 2px red;
    border-color: rgba(13, 16, 66, 1) !important;
    color: white !important;
    background: rgba(13, 16, 66, 1) !important;
    border-radius: 16px !important;
}

.dataGrid * {
    color: rgb(255, 255, 255);
}

.logo {
    padding-left: 25px;
}

h1 {
    margin-top: 0;
}

.navbar {
    height: 100px !important;
    display: flex;
    align-items: center;
    margin-top: 0 auto !important;
    background-color: white;
    box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.389);
}

a:visited {
    text-decoration: none;
}

a {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

.tool {
    margin-right: 15px;
    vertical-align: bottom;
}

.topDiv {
    background-image: url('https://www.tsilhqotin.ca/wp-content/uploads/2020/12/IMG_2516-scaled-e1607038804272.jpg');
    background-position: bottom;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 95px);
}

.midDiv {
    /* background-image: url('https://www.tsilhqotin.ca/wp-content/uploads/2021/08/tsilhqotin_hillside-scaled.jpg');
   */
    background-image: linear-gradient(3deg, rgb(249, 144, 110), rgb(225, 14, 225));
    height: 100vh;
    background-position: center;
}

.bottomDiv {
    background-image: url('https://www.tsilhqotin.ca/wp-content/uploads/2021/08/tsilhqotin_dried_salmon-scaled.jpg');
    background-position: center;
    background-size: cover;
    background-position: left;
    height: 100vh;
}

.Language {
    background-color: rgba(7, 7, 7, 0.377) !important;
    display: block;
}

.title {
    padding-left: 7vw;
    color: white;
    margin-top: 50vh;
    position: absolute;
    z-index: 1;
}

.title div {
    padding-bottom: 18px;
}

.navTitle {
    font-size: 2vw;
    padding-left: 5vw;
    padding-top: 2vh;
}

.dialect {
    border-style: solid;
    width: fit-content;
    font-size: 28px;
    padding: 2vh 3.5vw 2.5vh 3.5vw;
    background: rgb(121, 9, 9) !important;
    background: linear-gradient(
        270deg,
        rgba(121, 9, 9, 0.5) 20%,
        rgba(13, 16, 66, 0.51) 100%
    ) !important;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 12px;
    border-color: rgb(255, 255, 255);
}

.Home {
    background-color: #102b46c6;
    padding-bottom: 0;
    margin-bottom: 0;
}

.dialect:hover {
    background-color: rgba(13, 16, 66, 1) !important;
    background-image: linear-gradient(
        -155deg,
        rgb(255, 0, 0) -30%,
        rgba(13, 16, 66, 0.85) 60%,
        rgba(13, 16, 66, 1) 100%
    ) !important;
    background-image: repeating-linear-gradient(
            284deg,
            transparent 0px,
            transparent 1px,
            rgb(251, 251, 251) 1px,
            rgb(251, 251, 251) 3px
        ),
        repeating-linear-gradient(
            14deg,
            transparent 0px,
            transparent 1px,
            rgb(251, 251, 251) 1px,
            rgb(251, 251, 251) 3px
        ),
        linear-gradient(90deg, rgb(222, 222, 222), rgb(222, 222, 222));

    transition: 1s;
    transition-duration: 1s;
    border-color: red;
    box-shadow: 0px 0px 12px 2px red;
}

.heroTitle {
    padding: 2px;
    margin: 0;
    font-size: 24px;
}

#downloadApps {
    width: 60%;
    text-align: center;
}

/*Pixel 5*/

@media only screen and (max-width: 500px) {
    .navTitle {
        font-size: 6vw !important;
    }

    .title {
        font-size: 4vh !important;
    }
}

/*Samsung s10*/

@media only screen and (max-width: 600px) {
    .navTitle {
        font-size: 5vw;
    }

    .title {
        font-size: 3vh !important;
    }
}

@media only screen and (max-width: 800px) {
    .navTitle {
        font-size: 3vh;
    }

    .title {
        font-size: 3vh !important;
    }
}

@media only screen and (min-width: 800px) {
    .navTitle {
        font-size: 4vh;
    }

    .title {
        font-size: 5vh !important;
    }
}

@media only screen and (min-width: 768px) {
    .menu__btn {
        display: none !important;
    }
}

.About,
.Contact,
.Funders,
.Links,
.Stream {
    min-height: 100vh;
}

#menu__toggle {
    opacity: 0;
    position: relative fixed;
    background: green !important;
}

#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}

.menu__btn {
    position: absolute !important;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 10;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 100;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    transition-duration: 0.25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-image: repeating-linear-gradient(
            0deg,
            hsla(284, 43%, 48%, 0.05) 0px,
            hsla(284, 43%, 48%, 0.05) 1px,
            transparent 1px,
            transparent 11px,
            hsla(284, 43%, 48%, 0.05) 11px,
            hsla(284, 43%, 48%, 0.05) 12px,
            transparent 12px,
            transparent 32px
        ),
        repeating-linear-gradient(
            135deg,
            hsla(284, 43%, 48%, 0.05) 0px,
            hsla(284, 43%, 48%, 0.05) 1px,
            transparent 1px,
            transparent 11px,
            hsla(284, 43%, 48%, 0.05) 11px,
            hsla(284, 43%, 48%, 0.05) 12px,
            transparent 12px,
            transparent 32px
        ),
        repeating-linear-gradient(
            0deg,
            hsla(284, 43%, 48%, 0.05) 0px,
            hsla(284, 43%, 48%, 0.05) 1px,
            transparent 1px,
            transparent 11px,
            hsla(284, 43%, 48%, 0.05) 11px,
            hsla(284, 43%, 48%, 0.05) 12px,
            transparent 12px,
            transparent 32px
        ),
        repeating-linear-gradient(
            45deg,
            hsla(284, 43%, 48%, 0.05) 0px,
            hsla(284, 43%, 48%, 0.05) 1px,
            transparent 1px,
            transparent 11px,
            hsla(284, 43%, 48%, 0.05) 11px,
            hsla(284, 43%, 48%, 0.05) 12px,
            transparent 12px,
            transparent 32px
        ),
        linear-gradient(90deg, rgb(0, 0, 0), rgb(42, 49, 172));
    transition-duration: 0.75s;
    z-index: 1 !important;
}

.menu__item:active {
    overflow: hidden !important;
}

.menu__btn:active {
    overflow: hidden !important;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff !important;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
    text-align: center;
}

.menu__box,
.menu__item {
    z-index: 10 !important;
}

.menu__item:hover {
    background-color: #8a2222;
}

.nav__header {
    color: red;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    transition-duration: 0.25s;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: text-top !important;
    margin: -10px !important;
    z-index: top !important;
}

.logo {
    vertical-align: middle;
    padding-right: 10px;
}

.navLinks {
    text-align: center !important;
    margin: 0 auto !important;
}

#googlePlay {
    margin: 0 auto;
}

#heading {
    background-position: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    filter: saturate(140%);
}

#container {
    width: 100%;
    background: url('https://www.tsilhqotin.ca/wp-content/uploads/2021/08/tsilhqotin_hillside-scaled.jpg')
        no-repeat center center;
    background-position: 100% 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.384), 0 6px 20px 0 rgba(0, 0, 0, 0.384);
}

.page {
    min-height: calc(100vh - 96px);
}

.backdrop {
    background-image: linear-gradient(
        -155deg,
        rgb(255, 0, 0) -30%,
        rgba(13, 16, 66, 0.85) 60%,
        rgba(13, 16, 66, 1) 100%
    ) !important;
    background-image: repeating-linear-gradient(
            284deg,
            transparent 0px,
            transparent 1px,
            rgb(251, 251, 251) 1px,
            rgb(251, 251, 251) 3px
        ),
        repeating-linear-gradient(
            14deg,
            transparent 0px,
            transparent 1px,
            rgb(251, 251, 251) 1px,
            rgb(251, 251, 251) 3px
        ),
        linear-gradient(90deg, rgb(222, 222, 222), rgb(222, 222, 222));
    height: calc(100vh - 95px) !important;
}

.pageContent {
    margin: auto;
    min-height: calc(100vh - 300px);
    background-color: inherit !important;
    color: white !important;
    font-size: larger !important;
    background-position: fixed !important;
    background-repeat: no-repeat !important;
    width: 90vw;
}

#pageTitle {
    text-align: center;
    padding: 50px 0px 35px 0px;
    background: linear-gradient(
        270deg,
        rgba(121, 9, 9, 0.65) 20%,
        rgba(13, 16, 66, 1) 100%
    ) !important;
    background-image: url('https://www.tsilhqotin.ca/wp-content/uploads/2021/08/tsilhqotin_hillside-scaled.jpg');
    background-position: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#pageTitle h1 {
    margin: 0;
}

.appCard {
    width: 400px;
    text-align: center;
    margin: auto;
    box-shadow: 0px 0px 12px 2px red;
    background: rgba(13, 16, 66, 1) !important;
    border-radius: 20px !important;
    margin-top: 20px !important;
    transition: background linear 1s !important;
    max-width: 98vw;
}

.appCard:hover {
    background: rgb(121, 9, 9) !important;
    background: linear-gradient(
        270deg,
        rgba(121, 9, 9, 0.5) 20%,
        rgba(13, 16, 66, 0.51) 100%
    ) !important;
}

.appDescription {
    padding: 12px;
    word-wrap: normal;
    text-align: justify;
}

.appMeta {
    padding: 6px !important;
    padding-top: 0 !important;
    color: rgba(255, 255, 255, 0.658) !important;
}

.appImage {
    max-width: 135px;
    border-radius: 12px;
    width: 50% !important;
    margin: 0 auto !important;
}

.appLink {
    margin: 0 auto;
}

.webLink {
    border-radius: 20px;
    border: 2px solid black;
}

h3 {
    color: rgb(255, 255, 255);
}
h2 {
    text-align: center;
}

.homeBackground {
    background-image: linear-gradient(
        -155deg,
        rgb(255, 0, 0) -30%,
        rgba(13, 16, 66, 0.85) 60%,
        rgba(13, 16, 66, 1) 100%
    ) !important;
    background-image: repeating-linear-gradient(
            284deg,
            transparent 0px,
            transparent 1px,
            rgb(251, 251, 251) 1px,
            rgb(251, 251, 251) 3px
        ),
        repeating-linear-gradient(
            14deg,
            transparent 0px,
            transparent 1px,
            rgb(251, 251, 251) 1px,
            rgb(251, 251, 251) 3px
        ),
        linear-gradient(90deg, rgb(222, 222, 222), rgb(222, 222, 222));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.flex-container {
    display: flex !important;
    height: 100vh;
    color: white;
}

.flex-child1 {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-child2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.button {
    box-shadow: 0px 0px 12px 2px red;
    border-color: red !important;
    color: white !important;
    margin: 10px !important;
    height: 60px;
    width: 160px;
    border-radius: 16px !important;
    background: rgba(13, 16, 66, 1) !important;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.145) !important;
    border-color: #ffffff !important;
}

.download {
    font-size: 4vw !important;
}

.pageContent p h1 h2 h3 a {
    color: rgb(255, 255, 255) !important;
}

.downloadApp {
    font-size: 1.6;
    padding: 0;
}

.cardLink {
    padding: 0 !important;
}

@media only screen and (max-width: 800px) {
    .flex-child1,
    .flex-child2 {
        width: 100vw;
        height: 50vh !important;
        flex-wrap: wrap !important;
    }
    .flex-child2 {
        position: absolute !important;
    }
    .flex-container {
        display: inline !important;
        float: left !important;
    }
}

.language {
    color: white;
}

.top-to-btm {
    position: relative !important;
    z-index: 1000 !important;
}

.top-to-div {
    position: relative !important;
    z-index: 1000 !important;
}
.icon-position {
    position: fixed !important;
    bottom: 40px !important;
    right: 25px !important;
    z-index: 20 !important;
}

.bottomCenter {
    position: relative;
    text-align: center;
    bottom: 80px;
}

.icon-style {
    background-color: rgba(18, 10, 86, 0.3) !important;
    border: 2px solid #fff !important;
    border-radius: 50% !important;
    height: 50px !important;
    width: 50px !important;
    color: #fff !important;
    cursor: pointer !important;
    animation: movebtn 3s ease-in-out infinite !important;
    transition: all 0.5s ease-in-out !important;
}
.icon-style:hover {
    animation: none !important;
    background: rgba(18, 10, 86, 1) !important;
    box-shadow: 0px 0px 0px 1px rgb(249, 249, 249);
}

@keyframes movebtn {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.appLinkImage {
    border-radius: 10px;
}

.appLinkDisplay {
    margin: auto;
    text-align: center;
}

.links {
    color: #fff;
    text-decoration: none;
}

.songTitle {
    color: white;
    text-align: left;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.divider {
    background: red;
    box-shadow: 0px 0px 12px 2px red;
}

#indexPage {
    height: auto !important;
    padding-left: 20px;
    padding-right: 20px;
}

.songIcon {
    color: rgb(255, 255, 255) !important;
    padding-top: 20px !important;
    font-size: 100px !important;
}

.cardDetail {
    font-size: larger !important;
    text-align: left;
    padding: 12px 4px 12px 4px;
    color: white;
}

.downloadMedia {
    background: white !important;
    color: #102b46c6 !important;
    padding: 10px !important;
    border-radius: 8px !important;
    width: 160px;
}
