<ActionBar
  title="Tŝilhqot'in Dictionary"
  [nsRouterLink]="['/']"
  class="action-bar"
  flat="true"
>
</ActionBar>

<StackLayout class="p-20">
  <SearchBar
    hint="Search English"
    color="red"
    backgroundColor="white"
    textFieldHintColor="red"
    textFieldBackgroundColor="white"
    border-radius="5px"
  ></SearchBar>

  <SearchBar
    hint="Search Term"
    color="red"
    backgroundColor="white"
    textFieldHintColor="red"
    textFieldBackgroundColor="white"
    border-radius="5px"
  ></SearchBar>

  <SearchBar
    hint="Search Contributor"
    color="red"
    backgroundColor="white"
    textFieldHintColor="red"
    textFieldBackgroundColor="white"
    border-radius="5px"
  ></SearchBar>

  <!--Could use on mobile for dropdown items
  <ListPicker
    [items]="listPickerCountries"
    [(ngModel)]="selectedListPickerIndex"
  ></ListPicker> -->
</StackLayout>
