Page {
  background-color: $primary;
}

Button {
  android-elevation: 8;
  background-color: $accent;
  border-radius: 20;
  border-width: 1;
  color: $primary;
  font-size: 18;
  font-weight: bold;

}

ActionBar {
  box-shadow: 2px 12px 32px 5px black;
}