<nav class="container">
  <mat-toolbar class="navbar">
    <img
      src="https://api.tsilhqotinlanguage.ca/uploads/tng_log_for_language_hub_2e4ec30f17.png"
      style="height: 35px; padding: 5px"
    />

    <div class="title">
      <b>TŜILHQOT’IN DICTIONARY</b>
    </div>
  </mat-toolbar>
</nav>

<br />

<div id="buttons" style="text-align: center">
  <div>
    <!-- <button [routerLink]="['terms']"><p>Terms</p></button> -->
  </div>
  <div>
    <button [routerLink]="['lists']">
      <p>Paradigms and Vocabulary Lists</p>
    </button>
  </div>
</div>
