section {
    background: rgb(159,2,2);
    padding-top: 2px;
    padding-bottom: 37px;
}
a {
    color: rgb(159,2,2);
    text-decoration: none;
}

@-moz-document url-prefix() {
    * {
      text-decoration: none !important;
    }

    a {
        text-decoration: none;
        color: rgb(159,2,2);
        cursor: pointer;
      }
  }