/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.Cards {
    width: fit-content;
    text-align: center;
    margin: auto;
}

.home {
text-align: center;
min-height: calc(100vh - 80px);
}

.credits {
    min-height: calc(100vh - 80px);
}

.load {
    min-height: calc(100vh - 80px);
}

.toolbar {
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: inline-block;
}


.loading, .Logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a:-webkit-any-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

.Carousel {
    text-align: center !important;
    width: fit-content;
    margin: auto;
    padding: 20px;
}

.Arrow {
    margin-right: 35px;
}

.body {
    background-image: linear-gradient(45deg, rgb(222,20,20) 0%, rgb(222,20,20) 21%,rgb(190,25,25) 21%, rgb(190,25,25) 37%,rgb(158,30,30) 37%, rgb(158,30,30) 46%,rgb(126,35,35) 46%, rgb(126,35,35) 53%,rgb(103,39,39) 53%, rgb(103,39,39) 59%,rgb(97,44,44) 59%, rgb(97,44,44) 77%,rgb(92,30,30) 77%, rgb(92,30,30) 100%);
}

.body {
    background-image: repeating-linear-gradient(45deg, rgba(255,255,255, 0.07) 0px, rgba(255,255,255, 0.07) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.07) 11px, rgba(255,255,255, 0.07) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, rgba(255,255,255, 0.07) 0px, rgba(255,255,255, 0.07) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.07) 11px, rgba(255,255,255, 0.07) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(0deg, rgba(255,255,255, 0.07) 0px, rgba(255,255,255, 0.07) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.07) 11px, rgba(255,255,255, 0.07) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(135deg, rgba(255,255,255, 0.07) 0px, rgba(255,255,255, 0.07) 1px,transparent 1px, transparent 11px,rgba(255,255,255, 0.07) 11px, rgba(255,255,255, 0.07) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(158,27,27),rgb(249,77,77));
}

.body {
    background-image: radial-gradient(circle at 16% 83%, rgba(148, 148, 148,0.06) 0%, rgba(148, 148, 148,0.06) 50%,rgba(63, 63, 63,0.06) 50%, rgba(63, 63, 63,0.06) 100%),radial-gradient(circle at 68% 87%, rgba(66, 66, 66,0.06) 0%, rgba(66, 66, 66,0.06) 50%,rgba(105, 105, 105,0.06) 50%, rgba(105, 105, 105,0.06) 100%),radial-gradient(circle at 38% 50%, rgba(123, 123, 123,0.06) 0%, rgba(123, 123, 123,0.06) 50%,rgba(255,0,0, 0.06) 50%, rgba(255,0,0, 0.06) 100%),linear-gradient(90deg, rgb(149,9,9),rgb(149,9,9));
}
.body {
    background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, rgb(168,4,4),rgb(168,4,4));
}

.body {
    background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17,0.04) 0%, rgba(17, 17, 17,0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(19deg, rgb(250,28,28),rgb(159,2,2));
}

.body {
    background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17,0.04) 0%, rgba(17, 17, 17,0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(19deg, rgb(227,227,227),rgb(170,170,170));
}


.body {
    background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17, 0.37) 0%, rgba(17, 17, 17, 0.301) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64,64,64, 0.05) 0%, rgba(64, 64, 64, 0.24) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177, 0.185) 0%, rgba(177,177,177, 0) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187, 0.11) 100%),linear-gradient(19deg, rgb(250,28,28),rgb(159,2,2));
}

