/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.Cards {
    width: fit-content;
    text-align: center;
    margin: auto;
}

.home {
text-align: center;
min-height: calc(100vh - 80px);
}

.credits {
    min-height: calc(100vh - 80px);
}

.load {
    min-height: calc(100vh - 80px);
}

.toolbar {
    height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    display: inline-block;
}


.loading, .Logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
a:-webkit-any-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

.Carousel {
    text-align: center !important;
    width: fit-content;
    margin: auto;
    padding: 20px;
}

.Arrow {
    margin-right: 35px;
}

.body {
    background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(135deg, rgb(222,37,37),rgb(244,96,96));
}

.body {
    background-image: linear-gradient(45deg, rgb(222,20,20) 0%, rgb(222,20,20) 21%,rgb(190,25,25) 21%, rgb(190,25,25) 37%,rgb(158,30,30) 37%, rgb(158,30,30) 46%,rgb(126,35,35) 46%, rgb(126,35,35) 53%,rgb(103,39,39) 53%, rgb(103,39,39) 59%,rgb(97,44,44) 59%, rgb(97,44,44) 77%,rgb(92,30,30) 77%, rgb(92,30,30) 100%);
}