<ActionBar
  title="Tŝilhqot'in Dictionary"
  [nsRouterLink]="['/']"
  class="action-bar"
>
</ActionBar>
<StackLayout class="p-20">
  <Image
    src="~/assets/images/tng_footer_logo.png"
    class="h-center m-t-20"
    width="100"
  ></Image>
  <!--BUTTONS-->
  <button
    text="Terms"
    [nsRouterLink]="['vocab']"
    pageTransition="slide"
    clearHistory="true"
  ></button>
  <Button
    text="Paradigms & Vocabulary Lists"
    [nsRouterLink]="['vocab']"
    pageTransition="slide"
    clearHistory="true"
  ></Button>
</StackLayout>
